.inhalt {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto);
   
}

.header, 
.headersmall, 
.search, 
.searchsmall, 
.text, 
.content,
.color,
.footer{
    grid-column: 2 / 12;
}

.map {
   grid-column: 1/-1;
}
