.inhalt {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto);
   
}

.color{
    grid-column: 2 / 12;
}

.map {
   grid-column: 1/-1;
}
.icon{
    grid-column: 3/8;
}

.searchsmall,
.search{
    grid-column: 2/8;
}