.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #525150;
}

html, body {
font-family:Helvetica, Verdana, Sans-Serif;
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.container > div:nth-child(1n) {
  background-color: #c1ffe0;	
}

