.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 40px auto auto 40px;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "s s s s s s s s s s s s"
    "m m m m m m m m m m m m"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header {
 grid-area: h;

}

.map{
grid-area: m;
}

.content {
   grid-area: c;
}

.search {
    grid-area: s;
 }

.footer {
   grid-area: f;
}